main {
  font-family: 'Lacquer', sans-serif;
}
h3 {
  font-family: 'Fondamento', cursive;
  color: blanchedalmond;
}
header {
  height: 280px;
  width: 100vw;
  object-fit: cover;
  padding-bottom: 20px;
}
.swapp {
  height: 280px;
  background-image: url(../img/tenor.gif);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.swapp:hover {
  background-image: url(../img/sun.gif);
  object-fit: cover;
  cursor: crosshair;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color: black;
}
/* div {
  height: 300px;
  display: flex;
  flex-direction: column;
} */
img {
  height: 200px;
  width: auto;
}
.scroll-up {
  /* display: flex;
  flex-direction: row; */
  /* grid-template-rows: 4/-1;
  grid-template-columns: 1/-1; */
    height: 50px;	
    overflow: hidden;
    position: relative;
    background: black;
    color: rgb(155, 109, 25);
    /* border: 1px solid orange; */
   }
   .scroll-up p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);	
    transform:translateY(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-up 5s linear infinite;
    -webkit-animation: scroll-up 5s linear infinite;
    animation: scroll-up 5s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-up {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-100%); }
   }
   @-webkit-keyframes scroll-up {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-100%); }
   }
   @keyframes scroll-up {
    0%   { 
    -moz-transform: translateY(100%); /* Browser bug fix */
    -webkit-transform: translateY(100%); /* Browser bug fix */
    transform: translateY(100%); 		
    }
    100% { 
    -moz-transform: translateY(-100%); /* Browser bug fix */
    -webkit-transform: translateY(-100%); /* Browser bug fix */
    transform: translateY(-100%); 
    }
   }
