.banner {
  background-image: url(./images/the-beacon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 574px;
  background-attachment: scroll;
  background-position: 50% 50%;
  padding-top: unset;
  display: flex;
  flex-direction: column;
  display: inline-block;
}

ul {
  flex: 2;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}
li {
  font-family: 'Bebas Neue', cursive;
  padding: 20px 30px 50px 25px;
  text-transform: uppercase;
  color: black;
  font-size: 24px;
}
img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 50px;

}
div, .top-nav {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.font-two {
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
  text-transform: uppercase;
}
.font-three {
  font-family: 'Lustria', serif;
  font-size: 46px;
  color: white;
}
.font-four {
  font-family: 'Tenor Sans', sans-serif;
}
a:hover, a:link, a:active {
  text-decoration: none;
  color: green;
}
.bgc-one {
  background-color: white;
}
.bgc-two {
  background-color: black;
}
.hair-styles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.img-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  padding: 20px 20px 20px 20px;
}
button {
  height: 66px;
  width: 160px;
  align-self: center;
  text-transform: uppercase;
  font-size: 24px;
}
h3 {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding-left: 90px;
}
footer {
  display: flex;
  align-items: flex-end;
  background-color: black;
}
.ban {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*been trying to mess with this part and the text does not
  do what I want it to, thinking of redoing this in grids */
}




/* This is my old css, I'm leaving it in because I wanted to know
why my footer was being placed at top of the page
body {
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
}
div {
  display: flex;
  padding-top: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
ul {
  flex: 2;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}
li{
  font-family: 'Bebas Neue', cursive;
  padding: 0px 10px 0px 10px;
  text-transform: uppercase;
  color: black;
}
img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 50px;

}
.the-beacon {
  height: 554px;
  width: auto;
  color: black;
}
.the-beacon, a:hover, a:link, a:active {
    text-decoration: none;
    color: green;
}
.bottom-containers, .small-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  /* float: unset;
  display: inline-block;
  background-color: black;
  color: white;
  justify-content: center;
}
h3 {
  padding-left: 150px;
}
.one-one {
  display: inline-block;
  /* flex-direction: row;
  float: unset;
  align-content: unset;
} */









/*  This is code from the original website I put here in the comments section 
because I have questionsas to why the original dev used so many psuedo classes
#footer ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
  width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
} */